.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  background-color: #EDF2FF;
  min-height: 80vh;
}

.header {
  font-weight: 600;
  color: #222;
}

.topCard {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  padding: 12px;
}

.infoRow {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.infoItem {
  position: relative;
  padding: 12px 8px;
  border-bottom: 1px solid #eee;
  transition: all 0.2s ease;
}

.infoItem:last-child {
  border-bottom: none;
}

.infoItem:hover {
  background-color: #f9fbff;
}

.activeEdit {
  border-left: 4px solid #1976d2;
  background-color: #f0f6ff;
  box-shadow: inset 0 0 4px rgba(25, 118, 210, 0.2);
}

.infoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editBox {
  margin-top: 12px;
  animation: fadeIn 0.2s ease-in;
}

.successText {
  color: #4caf50;
  font-size: 0.9rem;
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.MuiDialog-paper {
  border-radius: 12px !important;
}

.MuiDialogTitle-root {
  border-bottom: 1px solid #eee;
}

.MuiDialogActions-root {
  padding: 16px 24px !important;
  border-top: 1px solid #eee;
}